.bigMenuItemImage{
  margin-top: 3rem;
  width: 8rem;
  height: 8rem;
}

.bigMenuItem{
  padding: 1.6rem;
  font-family: 'Open Sans', sans-serif;
}

.bigMenuItem p{
  text-align: justify;
  font-size: 2rem;
  margin: 1rem;
}

.bigMenuItem h2{
  text-align: center;
  font-weight: bold;
  margin-top: 3rem;
}
