.user{
  background-color: white;
}

#user_header{
  background: deepskyblue; /* For browsers that do not support gradients */
  margin: auto;
  text-align: center;
}

#app_ico_small{
  width: 3rem;
  height: 3rem;
}

#title{
  display: inline-block;
  vertical-align: middle;
  margin-left: 1rem;
}

#title h1{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#user_page_body{
  align-content: center;
  background-color: white;
  padding: 2rem;
  min-height: 100vh;
  color: #222222;
}

#profileForm{
  margin: 2rem;
  padding: 2rem;
}

#avatarImg{
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

#avatar{
  text-align: center;
}

#progressBar{
  padding-bottom: 3rem;
  padding-top: 2rem;
}

#fileName{
  padding-top: 2rem;
}

.rc-tabs-ink-bar{
  background-color: #ffd54f;
}
.rc-tabs-tab{
  color: #40a6ff;
}

.rc-tabs-tab-active, .rc-tabs-tab-active:hover{
  color: #ffd54f;
}

.rc-tabs-tab:hover{
  color: #ffd54f;
}

.kasperbtn input[type='file']{
  position: fixed;
  top: -1000px;
}
